In [1]:
import pandas as pd
import numpy as np

### Loading the chicago dataset

### Converting Start Time to datetime, extracting another column for month

In [3]:
df['Start Time']=pd.to_datetime(df['Start Time'])
df['Month']=df['Start Time'].dt.month
df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,Month
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0,6
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0,5
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0,1
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0,3
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0,1

### Calculating the mode of the month

In [4]:
df['Month'].mode()[0]

6

### extracting the day of the week and calculating the mode

In [ ]:
days=['Monday']
df['month_day']=df['Start Time'].dt.day_name()
df[df['month_day']==days[0]]
df.groupby(df['month_day'])[df['Birth Year']]

In [9]:
df['day_of_week'].mode()[0]

1

In [12]:
df['End Station'].mode()[0]

'Streeter Dr & Grand Ave'

### Calculating the mode of the start and end station

In [14]:
df[['Start Station','End Station']].mode()

             Start Station              End Station
0  Streeter Dr & Grand Ave  Streeter Dr & Grand Ave

In [15]:
## Calculating the total time travel

df['Trip Duration'].sum()

280871787

In [16]:
### Calculating the mean time travel
df['Trip Duration'].mean()

936.23929

In [17]:
### Calculating the counts of user types
df['User Type'].value_counts()

Subscriber    238889
Customer       61110
Dependent          1
Name: User Type, dtype: int64

In [18]:
### Calculating counts of gender

Male      181190
Female     57758
Name: Gender, dtype: int64

In [5]:
import time
import pandas as pd
import numpy as np

city_data = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }
accepted_months=('all', 'jan', 'feb', 'march', 'april', 'may', 'june')
accepted_days=('all', 'monday', 'tuesday', 'wednesday', 'thurdsay', 'friday', 'saturday', 'sunday')
try:
    def get_filters():
        print('Hello! Let\'s explore some US bikeshare data!')
        while True:
            city=input('Which city would you like to see? \nChicago, New York City or Washington: ').lower()
            if city in city_data:
                break
            else:
                print('Please select the right city: Chicago, New York City or Washington')
        while True:
            month=input('''Would you like to filter the data by month? \n {}\n 
                        Enter your preferred months or type 'all' if you do 
                        not want to filter the data '''.format(accepted_months)).lower()
            if month in accepted_months:
                break
            else:
                print('Please enter the right month from {}'.format(accepted_months))

        while True:
            day=input('''Would you like to filter the data by a day of the week?\n{}\n 
            Type all if you do not want to filter the data: '''.format(accepted_days)).lower()
            if day in accepted_days:
                break
            else:
                print('Please enter the right day in the format {}'.format(accepted_days))

        print('-'*40)
        return city, month, day
    
    def load_data(city, month, day):
        """
        Loads data for the specified city and filters by month and day if applicable.

        Args:
            (str) city - name of the city to analyze
            (str) month - name of the month to filter by, or "all" to apply no month filter
            (str) day - name of the day of week to filter by, or "all" to apply no day filter
        Returns:
            df - Pandas DataFrame containing city data filtered by month and day
        """
        df=pd.read_csv(city_data[city])
        df['Start Time'] = pd.to_datetime(df['Start Time'])
        df['month'] = df['Start Time'].dt.month
        df['day_of_week'] = df['Start Time'].dt.weekday
    # filter by month if applicable
        if month != 'all':
            # use the index of the months list to get the corresponding int
            months = ['jan', 'feb', 'march', 'april', 'may', 'june']
            month = months.index(month)+1

        # filter by month to create the new dataframe
            df = df[df['month']==month]

        # filter by day of week if applicable
        if day != 'all':
            # filter by day of week to create the new dataframe
            days=['sunday','monday','tuesday','wednesday','thursday','friday','saturday']
            day=days.index(day)+1
            df = df[df['day_of_week']==day]

        return df

    def time_stats(df):
        """Displays statistics on the most frequent times of travel."""

        print('\nCalculating The Most Frequent Times of Travel...\n')
        start_time = time.time()

        # TO DO: display the most common month
        answers=('January','February','March','April','May','June')
        number=df['month'].mode()[0]
        print('The most common month is {}'.format(answers[number-1]))

        # TO DO: display the most common day of week
        days_of_the_week=('Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday')
        answer=df['day_of_week'].mode()[0]
        print('The most common day of the week is {}'.format(days_of_the_week[answer-1]))

        # TO DO: display the most common start hour
        df['Hour']=df['Start Time'].dt.hour
        hour=df['Hour'].mode()[0]
        if int(hour)<12:
            print('The most common start hour is {}{}'.format(hour,'.00 AM'))
        elif int(hour)==12:
            print('The most common start hour is {}{}'.format(hour,'.00 NOON'))
        elif int(hour)>12:
            print('The most common start hour is {}{}'.format(hour-12,'.00 PM'))
        else:
            print('The most common start hour is {}{}'.format(hour,'.00'))
        print("\nThis took %s seconds." % (time.time() - start_time))
        print('-'*40)

    def station_stats(df):
        """Displays statistics on the most popular stations and trip."""

        print('\nCalculating The Most Popular Stations and Trip...\n')
        start_time = time.time()

        # TO DO: display most commonly used start station
        print('The most commonly used start station is {}'.format(df['Start Station'].mode()[0]))

        # TO DO: display most commonly used end station
        print('The most commonly used end station is {}'.format(df['End Station'].mode()[0]))

        # TO DO: display most frequent combination of start station and end station trip
        print('The most frequent combination of start and end station trip is {}'.format(df[['Start Station','End Station']].mode()))

        print("\nThis took %s seconds." % (time.time() - start_time))
        print('-'*40)

    def trip_duration_stats(df):
        """Displays statistics on the total and average trip duration."""

        print('\nCalculating Trip Duration...\n')
        start_time = time.time()

        # TO DO: display total travel time
        print('The total travel time is {}'.format(df['Trip Duration'].sum()))

        # TO DO: display mean travel time
        print('The mean travel time is {}'.format(df['Trip Duration'].mean()))

        print("\nThis took %s seconds." % (time.time() - start_time))
        print('-'*40)

    def user_stats(df):
        """Displays statistics on bikeshare users."""

        print('\nCalculating User Stats...\n')
        start_time = time.time()

        # TO DO: Display counts of user types

        print('The count of the user types is {}'.format(df['User Type'].value_counts()))
        # TO DO: Display counts of gender
        if 'Gender' in df.columns:
            print('The count by gender is {}'.format(df['Gender'].value_counts()))
        # TO DO: Display earliest, most recent, and most common year of birth
        if 'Birth Year' in df.columns:
            print('''The earliest year of birth is {} \nThe most Recent Year of birth is {} \nThe most common year of birth is {}
            '''.format(df['Birth Year'].min(),df['Birth Year'].max(), df['Birth Year'].mode()[0]))

        print("\nThis took %s seconds." % (time.time() - start_time))
        print('-'*40)

        while True:
            prompt=input('Would you like to see five rows of the raw data? ').lower()
            if prompt=='yes':
                print(df.iloc[0:4,:])
                break
            elif prompt=='no':
                break
            else:
                print('Please Enter yes or no')
        if prompt=='yes':
            m=5
            n=10
            while True:
                prompt=input('Would you like to see another five rows of the raw data? ').lower()
                if prompt=='yes':
                    print(df.iloc[m:n,:])
                    m+=5
                    n+=5
                elif prompt=='no':
                    break
                else:
                    print('Please select yes or no')

    def main():
        while True:
            city, month, day = get_filters()
            df = load_data(city, month, day)
            time_stats(df)
            station_stats(df)
            trip_duration_stats(df)
            user_stats(df)
            restart = input('\nWould you like to restart? Enter yes or no.\n')
            if restart.lower() != 'yes':
                break

    if __name__ == "__main__":
        main()
except:
    print('Error occured, Rerun the program if you wish to continue!!')

Hello! Let's explore some US bikeshare data!
Which city would you like to see?
Chicago, New York City or Washington: washington
Would you like to filter the data by month?
 ('all', 'jan', 'feb', 'march', 'april', 'may', 'june')

                        Enter your preferred months or type 'all' if you do
                        not want to filter the data jan
Would you like to filter the data by a day of the week?
('all', 'monday', 'tuesday', 'wednesday', 'thurdsay', 'friday', 'saturday', 'sunday')

            Type all if you do not want to filter the data: monday
----------------------------------------

Calculating The Most Frequent Times of Travel...

The most common month is January
The most common day of the week is Monday
The most common start hour is 8.00 AM

This took 0.054913997650146484 seconds.
----------------------------------------

Calculating The Most Popular Stations and Trip...

The most commonly used start station is Columbus Circle / Union Station
The most commonly used end station is Columbus Circle / Union Station
The most frequent combination of start and end station trip is                      Start Station                      End Station
0  Columbus Circle / Union Station  Columbus Circle / Union Station

This took 0.0619049072265625 seconds.
----------------------------------------

Calculating Trip Duration...

The total travel time is 4465881.1450000005
The mean travel time is 846.9336516214684

This took 0.0229644775390625 seconds.
----------------------------------------

Calculating User Stats...

The count of the user types is Subscriber    4812
Customer       461
Name: User Type, dtype: int64

This took 0.020963430404663086 seconds.
----------------------------------------
Would you like to see five rows of the raw data? yes
     Unnamed: 0          Start Time             End Time  Trip Duration  \
36       131497 2017-01-25 15:57:00  2017-01-25 18:10:00       7954.191
58        49136 2017-01-11 20:00:00  2017-01-11 20:03:00        127.729
119       14506 2017-01-04 17:31:00  2017-01-04 17:38:00        446.008
164      130149 2017-01-25 12:32:00  2017-01-25 12:37:00        299.665

                                 Start Station  \
36                              17th & K St NW
58   Central Library / N Quincy St & 10th St N
119            Columbus Circle / Union Station
164                 14th & Rhode Island Ave NW

                         End Station   User Type  month  day_of_week  Hour
36   Carlin Springs Rd & N Thomas St    Customer      1            2    15
58         Wilson Blvd & N Quincy St  Subscriber      1            2    20
119     3rd St & Pennsylvania Ave SE  Subscriber      1            2    17
164                   15th & K St NW  Subscriber      1            2    12
Would you like to see another five rows of the raw data? yes
     Unnamed: 0          Start Time             End Time  Trip Duration  \
444      134140 2017-01-25 18:40:00  2017-01-25 18:51:00        663.125
517       14212 2017-01-04 17:12:00  2017-01-04 17:25:00        759.506
682       89412 2017-01-18 17:56:00  2017-01-18 18:03:00        374.703
690       11282 2017-01-04 08:52:00  2017-01-04 08:59:00        440.524
694       85893 2017-01-18 09:04:00  2017-01-18 09:10:00        349.647

                            Start Station                    End Station  \
444                        14th & V St NW     Rhode Island Ave & V St NE
517  Washington & Independence Ave SW/HHS                  1st & M St NE
682                   King St Metro South                     Lee Center
690                        21st & M St NW      New York Ave & 15th St NW
694            17th & Rhode Island Ave NW  19th St & Pennsylvania Ave NW

      User Type  month  day_of_week  Hour
444  Subscriber      1            2    18
517  Subscriber      1            2    17
682  Subscriber      1            2    17
690  Subscriber      1            2     8
694  Subscriber      1            2     9
Would you like to see another five rows of the raw data? no

Would you like to restart? Enter yes or no.
no